# should be a absolute path
sqlite_file: ./data.db
# for ssl encryption please use a pantalaimon proxy
homeserver: https://matrix.example.com
bot:
  username: my-bot
  displayname: mc8051 Bot
  password: XXXXXXXXXXXXX
  # device id will be genereated if is empty and bot is started once
  # please fill it afterwards
  device_id:
  # avatar url of type mxc
  # if set to remove avatar get removed
  avatar:
plugins:
  - github.js
# If left empty, the bot will autojoin every room!
rooms:
  - ""!XXXXXXXXXXXX:matrix.org"
webserver:
  listen_on: 0.0.0.0
  port: 7785
  # !!! without a leading / !!!
  base_url: https://bot.example.com
logger:
  debug: true